
<%- include('../partials/head.ejs', {cssSheet: 'productCart'}) %>

<%- include('../partials/header.ejs') %>

<body>
    <h2>NUEVO PRODUCTO</h2>
    <div class="row">
        <div class="col-75">
            <div class="container">
            <form action="/products" method="post">
              <!-- <form id="formularioAlta" action="/productos" method="post"></form> -->
      
              <div class="row">
                <div class="col-50">
                  <h3>Datos del producto</h3>
                  <label for="pname"><i class="fa fa-tag"></i> Nombre del Producto</label>
                  <input type="text" id="fname" name="nombre" placeholder="Buso Deportivo DH">
                  <label for="pname"><i class="fa fa-star"></i> Puntuación</label>
                  <input type="text" id="fname" name="rate" placeholder="4.5">
                  <label for="price"><i class="fa fa-money-bill"></i> Precio Antes</label>
                  <input type="text" id="city" name="precioAntes" placeholder="20000">
                  <label for="price"><i class="fa fa-dollar-sign"></i> Precio Ahora</label>
                  <input type="text" id="city" name="precioAhora" placeholder="10000">
                  <label for="price"><i class="fa fa-percent"></i> Descuento</label>
                  <input type="text" id="city" name="discount" placeholder="50">
                  <label for="description"><i class="fa fa-keyboard"></i> Descripción</label>
                  <input type="text" id="email" name="descripcion" placeholder="Buso 100% algodón color gris">
                  <label for="cat"><i class="fa fa-list"></i></i> Categoría</label>
                  <input type="text" id="adr" name="categoria" placeholder="Busos">
                  
      
                  <div class="row">
                    <div class="col-50">
                      <label for="color"><i class="fa fa-palette"></i> Color</label>
                      <input type="text" id="state" name="color" placeholder="Gris, Azul, Negro, Blanco, etc">
                    </div>
                    <div class="col-50">
                      <label for="talles"><i class="fa fa-ruler"></i> Talle</label>
                      <input type="text" id="zip" name="size" placeholder="s,m,l,xl">
                    </div>
                    <div class="col-50">
                      <label for="uploadimages"><i class="fa fa-file-import"></i> Subir Imagen</label>
                      <input type="submit" value="Agregar Imagen" class="btn">
                    </div>
                  </div>
                </div>
                <div class="col-50">
                    <h3>Imagen del producto</h3>
                    <article class="articulo">
                        <img class="imagenes-addProduct" src="/images/NikeProRunning1.jpg" alt="zapatillas1">
                    </article>
                    <!-- <input type="submit" value="Agregar Imagen" class="btn"> -->
                </div>
              </div>
              
              <input type="submit" value="Agregar Producto" class="btn">
            </form>
          </div>
        </div>
      </div>

  <%- include('../partials/footer.ejs') %>

</body>
</html>