
<%- include('../partials/head.ejs', {cssSheet: 'productCart'}) %>

<%- include('../partials/header.ejs') %>

<body>
    <h2>NUEVO PRODUCTO</h2>
    <div class="row">
        <div class="col-75">
            <div class="container">
            <form action="/action_page.php">
      
              <div class="row">
                <div class="col-50">
                  <h3>Datos del producto</h3>
                  <label for="pname"><i class="fa fa-tag"></i> Nombre del Producto</label>
                  <input type="text" id="fname" name="productName" placeholder="Buso Deportivo DH">
                  <label for="description"><i class="fa fa-keyboard"></i> Descripción</label>
                  <input type="text" id="email" name="productDescription" placeholder="Buso 100% algodón color gris">
                  <label for="cat"><i class="fa fa-list"></i></i> Categoría</label>
                  <input type="text" id="adr" name="category" placeholder="Busos">
                  <label for="price"><i class="fa fa-money-bill"></i> Precio</label>
                  <input type="text" id="city" name="price" placeholder="$10.000">
      
                  <div class="row">
                    <div class="col-50">
                      <label for="color"><i class="fa fa-palette"></i> Color</label>
                      <input type="text" id="state" name="color" placeholder="Gris, Azul, Negro, Blanco, etc">
                    </div>
                    <div class="col-50">
                      <label for="talles"><i class="fa fa-ruler"></i> Talle</label>
                      <input type="text" id="zip" name="size" placeholder="s,m,l,xl">
                    </div>
                  </div>
                </div>
                <div class="col-50">
                    <h3>Imagen del producto</h3>
                    <article class="articulo">
                        <img class="imagenes-addProduct" src="/images/zapatillas1.png" alt="zapatillas1">
                    </article>
                </div>
              </div>
              
              <input type="submit" value="Agregar Producto" class="btn">
            </form>
          </div>
        </div>
      </div>

  <%- include('../partials/footer.ejs') %>

</body>
</html>