<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle del Producto</title>

    <!-- CSS -->
  <link rel="stylesheet" href="/css/productDetail.css" />
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"rel="stylesheet"/>

</head>
  <body>
    <header class = "header">
      <div class="interior">
        <a href="/" class="logo" target="blank"><img src="../images/logo.jpg" alt="Logo"></a>
      
        <nav class="navegacion">
          <ul>
            <input class="busqueda" type="search" placeholder="Busca tu producto">
          
            <li><a href="" target="blank">Ropa</a></li>
            <li><a href="" target="blank">Calzado</a></li>
            <li class="submenu">
              <a href="" target="blank">Accesorios</a>
                <ul class="hijos">
                  <li><a href="">blab</a></li>
                  <li><a href="">Item2</a></li>
                  <li><a href="">Item3</a></li>
                  <li><a href="">Item4</a></li>
                  <li><a href="">Item5</a></li>
                </ul>
            </li>
            <li><a href="" target="blank">Contacto</a></li>
            <li><a href="" target="blank">Login</a></li>
            <li><a href="" target="blank">Register</a></li>
          </ul>
        </nav>
      </div>
    </header>

    <main>
        
      <div class="descripcionYnombreProducto">
                    
        <div class="descripcion-producto">
            <img src="../images/buzo1.jpg" alt="buzo 1" id="buzo1">
            
              <div class="descripcion-sin-imagen">
                <h2>Buzo Gris Claro</h2>
                <h3>$10.000 </h3>
            
                <h3>Cantidad</h3>
                <select>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                </select>
                    
                    <!-- //agregar carrito -->
                
                <h3>Talles</h3>
                    <div class="talles">
                        <select>
                            <option value="S">S</option>
                            <option value="M">M</option>
                            <option value="L">L</option>
                            <option value="XL">XL</option>
                        </select>
                    </div>
        
                <p> Buzo gris claro de algodon super resistente y comodo, sin friza, ideal para buzo urbano o deportivo</p>
              </div>   
        </div>
        <section class="img-productos">
          <img src="../images/buzo2.jpg" alt="buzo 2" class=" img">
          <img src="../images/buzo3.jpg" alt="buzo 3" class=" img">
          <img src="../images/buzo4.jpg" alt="buzo 4" class=" img">   
        </section> 
      </div>     
      
    </main>
    
    <%- include('../partials/footer.ejs') %>
    
  </body>
</html>

