*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "OPEN SANS CONDENSED";
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

:root {
    --amarillo: #EAC926;
    --azul: #03264C;
    --celeste: #1259c3;
    --grisoscuro: #302f2d;
    --grisclaro: #73706d;
    --verde: #13972E;
    --verdeclaro: #44CE6C;
    --turquesa: #31A286;

}

/* -------------- BODY -------------- */

body {
    margin: 0;
    background: #f9f9f9;
}

.main-wrapper{
    display: -ms-flexbox; /* IE10 */
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    margin: 40px;
    background-color: #f2f2f2;
    padding: 40px;
    border: 1px solid var(--grisoscuro);
    border-radius: 10px;
}

.title h1{
    text-align: center;
}
/* ------- Listado Productos ------- */

.tituloProductos {
    margin: 1rem 0 0 0.5rem;
    text-align: center;
}

#listadoProductos {
    width: 100%;
    /* display: flex; */
    flex-flow: column wrap;
    margin: 1rem auto;
    /* max-width: 1200px; */
}

.contenedorProducto {
    background-color:  #fff;
    border-radius: 0.4rem;
    overflow: hidden;
    -webkit-box-shadow: 0 6px 12px -7px rgba(171, 171, 171, 1);
            box-shadow: 0 6px 12px -7px rgba(171, 171, 171, 1);
    -webkit-transition: -webkit-box-shadow 0.4s ease-out;
    transition: -webkit-box-shadow 0.4s ease-out;
    -o-transition: box-shadow 0.4s ease-out;
    transition: box-shadow 0.4s ease-out;
    transition: box-shadow 0.4s ease-out, -webkit-box-shadow 0.4s ease-out;
    position: relative;
    width: 100%;
    margin: 1rem auto;
}

.contenedorProducto:hover{
    -webkit-box-shadow: 0 10px 12px -7px rgba(171, 171, 171, 1);
            box-shadow: 0 10px 12px -7px rgba(171, 171, 171, 1);
}

.contenedorProducto:hover .rear-img{
    opacity: 1;
    z-index: 0;
}

.imagenProducto {
    width: 100%;
}

.imagenProducto .rear-img{
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    -webkit-transition: opacity 0.4s ease-out;
    -o-transition: opacity 0.4s ease-out;
    transition: opacity 0.4s ease-out;
}

.infoProducto {
    padding: 1.2rem 1.2rem 2rem;
    text-align: center;
}

.infoProducto div{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 1rem;
}

.nombreProducto {
    padding: 0.5rem;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 600;
    font-size: 1.1rem;
}

.numeroPrecio {
    margin-top: 0;
    margin-bottom: 0;
    width: 30%;
    font-size: 16px;
    text-align: right;
    color: var(--verdeclaro);
}

.product-btn{
    background-color: #45a049;
    color: #fff;
    /* text-decoration: none; */
    font-weight: 300;
    padding: 0.5rem 1rem;
    border-radius: 1.2rem;
    -webkit-transition: background-color 0.5s ease-out;
    -o-transition: background-color 0.5s ease-out;
    transition: background-color 0.5s ease-out;
    font-style: normal;
}
.product-btn:hover{
    background-color: var(--verde);
}

/* -------------- MEDIA -------------- */

@media (min-width: 475px) {

    /* MAIN */
    
    #listadoProductos  {
        flex-direction: row;
    }

    .contenedorProducto {
        width: 45%;
    }
}

@media (min-width: 1024px) {

    .contenedorProducto {
        width: 30%;
    }

}