/* @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');
 */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "OPEN SANS CONDENSED";
}

:root {
    --amarillo: #EAC926;
    --azul: #03264C;
    --celeste: #1259c3;
    --grisoscuro: #302f2d;
    --grisclaro: #73706d;
    --verde: #13972E;
    --verdeclaro: #44CE6C;
    --turquesa: #31A286;

}

body{
    background: #f9f9f9;
    line-height: 1.5;
}
.card-wrapper{
    /* max-width: 1100px; */
    /* margin: 0 auto; */
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    margin: 40px;
    background-color: #f2f2f2;
    padding: 40px;
    border: 1px solid var(--grisoscuro);
    border-radius: 10px;
    /* margin-top: 20px;
    margin-bottom: 20px; */
}

.card {
    width: 100%;
}

img{
    width: 100%;
    display: block;
}
.img-display{
    overflow: hidden;
}
.img-showcase{
    display: flex;
    width: 100%;
    transition: all 0.5s ease;
}
.img-showcase img{
    min-width: 100%;
}
.img-select{
    display: flex;
}
.img-item{
    margin: 0.3rem;
}
.img-item:nth-child(1),
.img-item:nth-child(2),
.img-item:nth-child(3){
    margin-right: 0;
}
.img-item:hover{
    opacity: 0.8;
}
.product-content{
    padding: 2rem 1rem;
}

.addeditdelete{
    color: var(--verde);
    font-size: 150%;
    padding: 15px;
    transition: transform .2s; /* Animation */
    margin: 0 auto;
}

.deletebutton{
    color: white;
    padding: 5px;
    background: var(--verde);
    margin: 10px;
    text-decoration: none;
}


.product-title{
    font-size: 26px;
    text-transform: capitalize;
    font-weight: 600;
    position: relative;
    margin: 1rem 0;
}

.product-link{
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 0.9rem;
    display: inline-block;
    margin-bottom: 0.5rem;
    background: var(--verde);
    color: #fff;
    padding: 0 0.3rem;
    transition: all 0.5s ease;
}
.product-link:hover{
    opacity: 0.9;
}
.product-rating{
    color: var(--verde);
}
.product-rating span{
    font-weight: 600;
    color: black;
}
.product-price{
    margin: 1rem 0;
    font-size: 1rem;
    font-weight: 700;
}
.product-price span{
    font-weight: 400;
}
.last-price span{
    color: var(--grisoscuro);
    text-decoration: line-through;
}
.new-price span{
    color: var(--verde);
}
/* .product-detail h2{
    text-transform: capitalize;
    color: black;
    padding-bottom: 0.6rem;
} */
.product-detail p{
    font-size: 0.9rem;
    padding: 0.3rem;
    opacity: 0.8;
    color: var(--grisoscuro);
}
.product-detail ul{
    margin: 1rem 0;
    font-size: 0.9rem;
}
.product-detail ul li{
    margin: 0;
    list-style: none;
    background: url(../images/check.png) left center no-repeat;
    background-size: 18px;
    padding-left: 1.7rem;
    margin: 0.4rem 0;
    font-weight: 600;
    opacity: 0.9;
}
.product-detail ul li span{
    font-weight: 400;
}
.purchase-info{
    margin: 1.5rem 0;
}
.purchase-info input,
.purchase-info .btn{
    border: 1.5px solid #ddd;
    border-radius: 25px;
    text-align: center;
    padding: 0.45rem 0.8rem;
    outline: 0;
    margin-right: 0.2rem;
    margin-bottom: 1rem;
}
.purchase-info input{
    width: 60px;
}
.purchase-info .btn{
    cursor: pointer;
    color: #fff;
}
.purchase-info .btn:first-of-type{
    background: (var(--verdeclaro));
}
.purchase-info .btn:last-of-type{
    background: var(--verde);
}
.purchase-info .btn:hover{
    opacity: 0.9;
}
.social-links{
    display: flex;
    align-items: center;
}
.social-links a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    color: #000;
    border: 1px solid #000;
    margin: 0 0.2rem;
    border-radius: 50%;
    text-decoration: none;
    font-size: 0.8rem;
    transition: all 0.5s ease;
}
.social-links a:hover{
    background: #000;
    border-color: transparent;
    color: #fff;
}

/* ------- Productos Relacionados ------- */

.cuadroContenedor{
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    margin: 40px;
    background-color: #f2f2f2;
    padding: 40px;
    border: 1px solid var(--grisoscuro);
    border-radius: 10px;
}

.ProductosRelacionados{
    margin-left: 0.5rem;
    font-size: 20px;
    text-align: center;
}

.title h2{
    text-align: center;
}

.contenedorProductosRelacionados {
    background-color: #f2f2f2;
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    margin-bottom: 3.5rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.contenedorProducto {
    background-color:  #fff;
    border-radius: 0.4rem;
    overflow: hidden;
    -webkit-box-shadow: 0 6px 12px -7px rgba(171, 171, 171, 1);
            box-shadow: 0 6px 12px -7px rgba(171, 171, 171, 1);
    -webkit-transition: -webkit-box-shadow 0.4s ease-out;
    transition: -webkit-box-shadow 0.4s ease-out;
    -o-transition: box-shadow 0.4s ease-out;
    transition: box-shadow 0.4s ease-out;
    transition: box-shadow 0.4s ease-out, -webkit-box-shadow 0.4s ease-out;
    position: relative;
    width: 100%;
    margin: 1rem auto;
}

.contenedorProducto:hover{
    -webkit-box-shadow: 0 10px 12px -7px rgba(171, 171, 171, 1);
            box-shadow: 0 10px 12px -7px rgba(171, 171, 171, 1);
}

.contenedorProducto:hover .rear-img{
    opacity: 1;
    z-index: 0;
}

.imagenProducto {
    width: 100%;
}

.imagenProducto .rear-img{
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    -webkit-transition: opacity 0.4s ease-out;
    -o-transition: opacity 0.4s ease-out;
    transition: opacity 0.4s ease-out;
}

.infoProducto {
    padding: 1.2rem 1.2rem 2rem;
    /* display: flex;
    justify-content: space-between; */
    text-align: center;
}

.infoProducto div{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 1rem;
}

.nombreProducto {
    padding: 0.5rem;
    /* padding-right: 4rem; */
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 600;
    font-size: 1.1rem;
}

.numeroPrecio {
    margin-top: 0;
    margin-bottom: 0;
    width: 30%;
    font-size: 16px;
    text-align: right;
    color: var(--verdeclaro);
}

.product-btn{
    background-color: var(--verde);
    color: #fff;
    font-weight: 300;
    border-radius: 1.2rem;
    -webkit-transition: background-color 0.5s ease-out;
    -o-transition: background-color 0.5s ease-out;
    transition: background-color 0.5s ease-out;
    font-style: normal;
    text-align: center;
    border: 1.5px solid #ddd;
    padding: 0.45rem 0.8rem;
    outline: 0;
    margin-bottom: 1rem;
}
.product-btn:hover{
    background-color: var(--verdeclaro);
}


/* -------------- MEDIA -------------- */

@media (min-width: 475px) {
  
    /* .infoProducto{
        width: 45%;
    } */

     /* #seccionDetalleProducto {
        flex-direction: row;
    } */

    /* #contenedorImagen {
        width: 52%;
    } */

    .contenedorProductosRelacionados {
        flex-direction: row;
    }

    .contenedorProducto {
        width: 45%;
    }


   /*  #contenedorBotones{
        margin-top: auto;
    } */
    
}


@media screen and (min-width: 768px){
    
    .row {
        flex-direction: column-reverse;
    }

    .card{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1.5rem;
    }
    /* .card-wrapper{
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    } */
    .product-imgs{
        display: flex;
        flex-direction: column;
        justify-content: center;
    } 
    .product-content{
        padding-top: 0;
    }
}

@media (min-width: 1024px) {
    
    .contenedorProducto {
        width: 30%;
    }
}
