
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "OPEN SANS CONDENSED";
}

:root {
    --amarillo: #EAC926;
    --azul: #03264C;
    --celeste: #1259c3;
    --grisoscuro: #302f2d;
    --grisclaro: #73706d;
    --verde: #13972E;
    --verdeclaro: #44CE6C;
    --turquesa: #31A286;

}

a{
    text-decoration: none;
}

header {
    display: flex;
    min-height: 100px;
    background: black;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.logo{
    display: flex;
    align-items: center;
}

.logo img{
    height: 50px;
    margin-right: 10px;
    width: auto;
}

.nombreEmpresa{
    color: white;
}

nav{
    /* background: white; */
    padding-right: 30px;
}

nav a {
    font-weight: 600;
    color: white;
    padding-right: 10px;
}

nav a:hover{
    color: var(--verdeclaro);
}


/* >>>>>>>>>>>>>> */

/* Navbar container */
.navbar {
    font-weight: 600;
    overflow: hidden;
    background-color: #333;
    /* font-family: Arial; */
  }
  
  /* Links inside the navbar */
  .navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    font-weight: 600;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown button */
  .dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
   /*  background-color: var(--verde); */
    border: none;
    cursor: pointer;
    font-weight: 600;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
  }
  
  /* Add a red background color to navbar links on hover */
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: var(--verde);
  }
  
  /* Dropdown content (hidden by default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: black;
    /* min-width: 160px; */
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    font-weight: 600;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    float: none;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    font-weight: 600;
  }

  .contentList{
    font-size: medium;
  }
  
  /* Add a grey background color to dropdown links on hover */
  /* .dropdown-content a:hover {
    background-color: #ddd;
  } */
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }

/* >>>>>>>>>>>>>>>>> */

@media (max-width:768px){
    header{
        flex-direction: column;
        text-align: center;
    }
    nav{
        padding: 10px 0px;
    }
}