
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	font-family: "OPEN SANS CONDENSED";
}
body{
	background: #f9f9f9;
}

/* BODY HOME */
.main{
    background: linear-gradient(#2A2A2A, black) ;

}
.compritas{
    font-size: 2.5rem;
    text-align: center;
    font-family: "OPEN SANS CONDENSED";
    color: white;
}


.enlace1{
color:white;
font-size: 24px;
text-align: center;
position: relative;
display: inline-block;
padding: 15px 30px;
letter-spacing: 4px;
text-decoration: none;
overflow: hidden;
transition: 1.2s;
}
.enlace1:hover{
background-color: #121212;
box-shadow: 0 0 10px #121212, 0 0 40px #121212, 0 0 80px #121212;
}


.robapags{
    display: flex;
    position: relative;
    flex-direction: row;
    padding: 30px;
    padding-top: 120px;
    padding-bottom: 30px;
    font-size: 2.5rem;
    font-family: "OPEN SANS CONDENSED";
    color: white;
}
.registras{
    font-size: 2rem;
    color: white;
    display: flex;
    padding: 20px 20px;
    letter-spacing: 4px;
    text-decoration: none;
    overflow: hidden;
    transition: 1.2s;
}
.registras:hover{
    background-color: #121212;
    box-shadow: 0 0 10px #121212, 0 0 150px #121212, 0 0 20px #121212;
    }
 .compras{  
        
        position: relative;
        display: flex;
        flex-direction:row;
        margin-left: 20px;
      text-align: center;

    }

    .compras2{
        margin-left: 200px;
        margin-right: 150px;
        margin-top: 80px;
    }

    .compras3{
        margin-right: 200px;
        margin-left: 100px;
        margin-top: 80px;
    }
    .compras4{
        margin-right: 200px;
        margin-top: 80px;
      
    }

