
<%- include('./partials/head.ejs', {cssSheet: 'stilohome'}) %>

<%- include('./partials/header.ejs') %>

<body>
     <main class="main">
       <section  class="baner">  <img src="./images/baner.png" alt="baner" width="100%" height="500px">  
       <br>
       <br>
       <br>
       <br>
       <h1 class="compritas">¡Bienvenido a la seccion de compras!</h1>
      
       <section class="compras">
        <div class="compras2"> <img src="./images/ropa.jpg" alt="" width="300px"><a href="#" class="enlace1">Ropa</a></div>
       <div class="compras3"> <img src="./images/accesorios.jpg" alt="" width="300px"> <a href="#" class="enlace1">Accesorios </a></div>
       <div class="compras4">  <img src="./images/zapatosDeportivos.jpg" alt="" width="300px" height="448px"><a href="#" class="enlace1">Zapatos</a> </div>
      </section>
         </section>
         <br>
         <br>
         <br>
         <br>
         <br>

         <section class="robapags"> <img src="./images/logo.jpg" height="500px" width="600px"><p class="robapags"> En esta pagina encontraras la ropa/accesorios/calzados, etc de la mejor calidad del mercado!
          te invitamos a visitar nuestras secciones en las que encontraras todo ordenado por categorias! 
         </p> </section>


         
     
         <section class="robapags"><h1 class="robapags">Te invitamos a formar parte de IndumentariaDH, para encontrar descuentos, ofertas y muchos premios mas ! <br>
         <br>
    
      </section>
      <a class="registras" href="#"> Registrarme</a></h1> 
     </main>
  
     <%- include('./partials/footer.ejs') %>

  </body>