<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="/css/stilohome.css"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
rel="stylesheet" />
    <title>Inicio</title>
</head>
<body>
    <header>
      <div class="interior">
        <a href="/" class="logo" target="blank"><img src="./images/logo.jpg" alt="Logo"></a>
        <nav class="navegacion">
          <ul>
            <input class="busqueda" type="search" placeholder="Busca tu producto">
        
            <li><a href="" target="blank">Ropa</a></li>
            <li><a href="" target="blank">Calzado</a></li>
            <li class="submenu">
              <a href="" target="blank">Accesorios</a>
              <ul class="hijos">
                <li><a href="">blab</a></li>
                <li><a href="">Item2</a></li>
                <li><a href="">Item3</a></li>
                <li><a href="">Item4</a></li>
                <li><a href="">Item5</a></li>
              </ul>
            </li>
            <li><a href="" target="blank">Contacto</a></li>
            <li><a href="" target="blank">Login</a></li>
            <li><a href="" target="blank">Register</a></li>
          </ul>
        </nav>
      </div>
    </header>

     <main class="main">
       <section  class="baner">  <img src="./images/baner.png" alt="baner" width="100%" height="500px">  
       <br>
       <br>
       <br>
       <br>
       <h1 class="compritas">¡Bienvenido a la seccion de compras!</h1>
      
       <section class="compras">
        <div class="compras2"> <img src="./images/ropa.jpg" alt="" width="300px"><a href="#" class="enlace1">Ropa</a></div>
       <div class="compras3"> <img src="./images/accesorios.jpg" alt="" width="300px"> <a href="#" class="enlace1">Accesorios </a></div>
       <div class="compras4">  <img src="./images/zapatosDeportivos.jpg" alt="" width="300px" height="448px"><a href="#" class="enlace1">Zapatos</a> </div>
      </section>
         </section>
         <br>
         <br>
         <br>
         <br>
         <br>

         <section class="robapags"> <img src="./images/logo.jpg" height="500px" width="600px"><p class="robapags"> En esta pagina encontraras la ropa/accesorios/calzados, etc de la mejor calidad del mercado!
          te invitamos a visitar nuestras secciones en las que encontraras todo ordenado por categorias! 
         </p> </section>


         
     
         <section class="robapags"><h1 class="robapags">Te invitamos a formar parte de IndumentariaDH, para encontrar descuentos, ofertas y muchos premios mas ! <br>
         <br>
    
      </section>
      <a class="registras" href="#"> Registrarme</a></h1> 
     </main>
  
     <footer>
        <div class="footer-container">
            <div class="footer-content-container">
                <h3 class="website-logo">Indumentaria DH</h3>
                <span class="footer-info">indumentariaDH@hotmail.com</span>
            </div>
            <div class="footer-menus">
                <div class="footer-content-container">
                    <span class="menu-title">menu</span>
                    <a href="" class="menu-item-footer">Inicio</a>
                    <a href="" class="menu-item-footer">Registro</a>
                    <a href="" class="menu-item-footer">Contacto</a>
                </div>
                <div class="footer-content-container">
                    <span class="menu-title">legal</span>
                    <a href="" class="menu-item-footer">Privacy Policy</a>
                    <a href="" class="menu-item-footer">Cookies</a>
                    <a href="" class="menu-item-footer">Legal Advice</a>
                </div>
            </div>
            
            <div class="footer-content-container">
                <span class="menu-title">follow us</span>
            </div>
        </div>
        <div class="copyright-container">
            <span class="copyright">Copyright 2021, itskrey.com. All rights reserved.</span>
        </div>
    </footer>
  </body>