
<%- include('./partials/head.ejs', {cssSheet: 'stilohome'}) %>

<%- include('./partials/header.ejs') %>

<body>
     <!-- <main class="main">
       <section  class="baner">  <img src="./images/baner.png" alt="baner" width="100%" height="500px">  
       <br>
       <br>
       <br>
       <br>
       <h1 class="compritas">¡Bienvenido a la seccion de compras!</h1>
      
       <section class="compras">
        <div class="compras2"> <img src="./images/ropa.jpg" alt="" width="300px"><a href="#" class="enlace1">Ropa</a></div>
       <div class="compras3"> <img src="./images/accesorios.jpg" alt="" width="300px"> <a href="#" class="enlace1">Accesorios </a></div>
       <div class="compras4">  <img src="./images/zapatosDeportivos.jpg" alt="" width="300px" height="448px"><a href="#" class="enlace1">Zapatos</a> </div>
      </section>
         </section>
         <br>
         <br>
         <br>
         <br>
         <br>

         <section class="robapags"> <img src="./images/logo.jpg" height="500px" width="600px"><p class="robapags"> En esta pagina encontraras la ropa/accesorios/calzados, etc de la mejor calidad del mercado!
          te invitamos a visitar nuestras secciones en las que encontraras todo ordenado por categorias! 
         </p> </section>


         
     
         <section class="robapags"><h1 class="robapags">Te invitamos a formar parte de IndumentariaDH, para encontrar descuentos, ofertas y muchos premios mas ! <br>
         <br>
    
      </section>
      <a class="registras" href="#"> Registrarme</a></h1> 
     </main> -->

     <section id = "product-sec-1">
      <div class = "container">
          <div class = "product-left">
              <img src = "images/Ropa3.png" alt = "product image">
          </div>
          <div class = "product-right">
              <h2>El Estilo como Insignia de Marca</h2>
              <span class = "text">El Legado Continua</span>
              <div class = "btns-group">
                  <a href = "/products/" class = "btn-solid">Compra Ahora</a>
                  <a href = "/products/" class = "btn-link">Conoce más<i class = "fa fa-chevron-right"></i>                 </a>
              </div>
          </div>
      </div>
  </section>

  <section id = "product-sec-2">
      <div class = "container">
         <div class = "product-left">
            <img src = "images/Shoes1.png" alt = "product image">
         </div>
         <div class = "product-right">
            <h2>Inspírate. Exprésate. Diviértete.</h2>
            <span class = "text">Contamos con un amplio catálogo de zapatillas con los mejores diseños y tecnología.</span>
            <div class = "btns-group">
                  <a href = "#" class = "btn-solid">Compra Ahora</a>
                  <a href = "#" class = "btn-link">Conoce más<i class = "fa fa-chevron-right"></i></a>            
            </div>
         </div>
      </div>
   </section>

   <!-- Accesorios -->

   <section id = "product-sec-5">
      <div class = "container">
         <div class = "product-right">
            <h2>No volveras a ser el mismo</h2>
            <span class = "text">¡Cambia tu look con estos increíbles accesorios!</span>
            <div class = "btns-group">
                  <a href = "#" class = "btn-solid">Compra Ahora</a>
                  <a href = "#" class = "btn-link">Conoce más<i class = "fa fa-chevron-right"></i></a>            
            </div>
         </div>
         <div class = "product-left">
            <img src = "images/Accesorios.png" alt = "product image">
         </div>
      </div>
   </section>

      <!-- Carrusel de Productos -->
      
   <section id ="product-sec-list">
      <div class = "main-wrapper">
         <div class = "contenedor">
            <div class = "title">
               <h1>Descubre Nuestras Novedades</h1>
            </div>
               <div class = "product-grid">
                  <div class = "product">
                  <a href="/products/">
                     <div class = "product-img">
                        <img src = "images/Ropa1.png" alt = "front product image">
                        <!-- <img src = "images/Shoes1.png" alt = "rear product image" class = "rear-img"> -->
                     </div>
                     <div class = "product-info">
                        <div>
                           <span class = "product-name">Ropa Deportiva</span>
                           <span class = "product-price">Desde $ 8.000</span>
                        </div>
                        <a href = "/products/" class = "product-btn">Ver Productos</a>
                     </div>
                  </a></div>
                  

                  <div class = "product">
                     <a href="/products/">
                     <div class = "product-img">
                        <img src = "images/Shoes2.png" alt = "front product image">
                        <!-- <img src = "images/Shoes1.png" alt = "rear product image" class = "rear-img"> -->
                     </div>
                     <div class = "product-info">
                        <div>
                           <span class = "product-name">Calzado</span>
                           <span class = "product-price">Desde $ 5.000</span>
                        </div>
                        <a href = "/products/" class = "product-btn">Ver Productos</a>
                     </div>
                  </a></div>

                  <div class = "product">
                     <a href="/products/">
                     <div class = "product-img">
                        <img src = "images/watch-img-2.jpg" alt = "front product image">
                        <!-- <img src = "images/Shoes1.png" alt = "rear product image" class = "rear-img"> -->
                     </div>
                     <div class = "product-info">
                        <div>
                           <span class = "product-name">Accesorios</span>
                           <span class = "product-price">Desde $ 6.000</span>
                        </div>
                        <a href = "/products/" class = "product-btn">Ver Productos</a>
                     </div>
                  </a></div>
               </div>
         </div>
      </div>>
   </section>

<!-- Accesorios -->

<!-- <section id = "product-sec-5">
   <div class = "container">
      <div class = "product-right">
         <h2>No volveras a ser el mismo</h2>
         <span class = "text">¡Cambia tu look con estos increíbles accesorios!</span>
         <div class = "btns-group">
               <a href = "#" class = "btn-solid">Compra Ahora</a>
               <a href = "#" class = "btn-link">Conoce más<i class = "fa fa-chevron-right"></i></a>            
         </div>
      </div>
      <div class = "product-left">
         <img src = "images/Accesorios.png" alt = "product image">
      </div>
   </div>
</section> -->

<!-- <section id = "product-sec-3">
   <div class = "container">
       <div class = "product-right">
           <h2>No volveras a ser el mismo</h2>
           <span class = "text">¡Cambia tu look con estos increíbles accesorios!</span>
           <div class = "btns-group">
               <a href = "#" class = "btn-link">Conoce más<i class = "fa fa-chevron-right"></i></a>   
           </div>
       </div>
   </div>
</section> -->

<section id = "product-sec-4">
   <div class = "container">
       <div class = "product-right">
           <span class = "text">Newsletter</span>
           <h2>¡Te invitamos a formar parte de DHIndumentaria, para encontrar descuentos, ofertas y muchos premios mas!</h2>
           <div class = "btns-group">
              <a href = "#" class = "btn-link">Regístrate<i class = "fa fa-chevron-right"></i></a>
           </div>
       </div>
   </div>
</section>

<div class = "dotted-btns">
   <a href = "#product-sec-1" class = "dot">
       <i class = "fa fa-circle"></i>
   </a>
   <a href = "#product-sec-2" class = "dot">
       <i class = "fa fa-circle"></i>
   </a>
   <a href = "#product-sec-5" class = "dot">
       <i class = "fa fa-circle"></i>
   </a>
   <a href = "#product-sec-list" class = "dot">
       <i class = "fa fa-circle"></i>
   </a>
   <a href = "#product-sec-4" class = "dot">
      <i class = "fa fa-circle"></i>
  </a>
</div>

  
     <%- include('./partials/footer.ejs') %>

  </body>