<footer>
    <div class="footer-container">
      <div class="footer-content-container">
          <a href="/" class="logo">
            <img src="/images/logo.jpg" alt="Logo de la compañia">
            <h2 class="nombreEmpresa">DH Indumentaria</h2>
          </a>
      </div>
      <div class="footer-menus">
        <div class="footer-content-container">
          <span class="menu-title">menu</span>
            <a href="/" class="menu-item-footer">Inicio</a>
            <a href="/users/register" class="menu-item-footer">Registro</a>
            <a href="/" class="menu-item-footer">Contacto</a>
        </div>
        <div class="footer-content-container">
          <span class="menu-title">legal</span>
            <a href="" class="menu-item-footer">Privacy Policy</a>
            <a href="" class="menu-item-footer">Cookies</a>
            <a href="" class="menu-item-footer">Legal Advice</a>
        </div>
      </div>
            
      <div class="footer-content-container">
        <span class="menu-title">follow us</span>
        <a href = "#">
          <i class = "fab fa-facebook-f"></i>
        </a>
        <a href = "#">
          <i class = "fab fa-instagram"></i>
        </a>
        <a href = "#">
          <i class = "fab fa-whatsapp"></i>
        </a>
      </div>
    </div>
        
    <div class="copyright-container">
            <span class="copyright">Copyright 2023, dhindumentaria.com. All rights reserved.</span>
    </div>
  </footer>