<header>
    <div class="interior">
      <a href="" class="logo" target="blank"><img src="./images/logo.jpg" alt="Logo"></a>
      <nav class="navegacion">
        <ul>
          <input class="busqueda" type="search" placeholder="Busca tu producto">
      
          <li><a href="" target="blank">Ropa</a></li>
          <li><a href="" target="blank">Calzado</a></li>
          <li class="submenu">
            <a href="" target="blank">Accesorios</a>
            <ul class="hijos">
              <li><a href="">blab</a></li>
              <li><a href="">Item2</a></li>
              <li><a href="">Item3</a></li>
              <li><a href="">Item4</a></li>
              <li><a href="">Item5</a></li>
            </ul>
          </li>
          <li><a href="" target="blank">Contacto</a></li>
          <li><a href="" target="blank">Login</a></li>
          <li><a href="" target="blank">Register</a></li>
        </ul>
      </nav>
    </div>
  </header>