
<%- include('../partials/head.ejs', {cssSheet: 'login'}) %>

<%- include('../partials/header.ejs') %>

<section class="form-registro">
    <h4>¡Bienvenido!</h4>
    <input class="controls" type="text" name="nombre" id="nombre" placeholder="Nombre de usuario">
    <input class="controls" type="text" name="apellido" id="apellido" placeholder="Contraseña">
    <br>
    <br>
    <input class="boton" type="submit" value="Ingresar">
    
    

</section>

<%- include('../partials/footer.ejs') %>

</body>
</html>