<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Register</title>

  
  <link rel="stylesheet" href="/css/register.css">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"rel="stylesheet"/>
</head>
<header class = "header">
  <div class="interior">
    <a href="/" class="logo" target="blank"><img src="../images/logo.jpg" alt="Logo"></a>

    <nav class="navegacion">
      <ul>
        <input class="busqueda" type="search" placeholder="Busca tu producto">
    
        <li><a href="" target="blank">Ropa</a></li>
        <li><a href="" target="blank">Calzado</a></li>
        <li class="submenu">
          <a href="" target="blank">Accesorios</a>
          <ul class="hijos">
            <li><a href="">blab</a></li>
            <li><a href="">Item2</a></li>
            <li><a href="">Item3</a></li>
            <li><a href="">Item4</a></li>
            <li><a href="">Item5</a></li>
          </ul>
        </li>
        <li><a href="" target="blank">Contacto</a></li>
        <li><a href="" target="blank">Login</a></li>
        <li><a href="" target="blank">Register</a></li>
      </ul>
    </nav>
  </div>
</header>


<section class="form-registro">
    <h4>Registrase, es gratis!</h4>
    <input class="controls" type="text" name="nombre" id="nombre" placeholder="Nombre">
    <input class="controls" type="text" name="apellido" id="apellido" placeholder="Apellido">
    <input class="controls" type="email" name="Direccion de email" id="Direccion de email" placeholder="Direccion de email">
    <input class="controls" type="password" name="Cear contraseña" id="Crear contraseña" placeholder="Crear contraseña">
    <br>
    <br>
    <input class="boton" type="submit" value="Registrarse">
    

</section>



<footer>
    <div class="footer-container">
      <div class="footer-content-container">
        <h3 class="website-logo">Indumentaria DH</h3>
          <span class="footer-info">indumentariaDH@hotmail.com</span>
      </div>
      <div class="footer-menus">
        <div class="footer-content-container">
          <span class="menu-title">menu</span>
            <a href="" class="menu-item-footer">Inicio</a>
            <a href="" class="menu-item-footer">Registro</a>
            <a href="" class="menu-item-footer">Contacto</a>
        </div>
        <div class="footer-content-container">
          <span class="menu-title">legal</span>
            <a href="" class="menu-item-footer">Privacy Policy</a>
            <a href="" class="menu-item-footer">Cookies</a>
            <a href="" class="menu-item-footer">Legal Advice</a>
        </div>
      </div>
            
      <div class="footer-content-container">
        <span class="menu-title">follow us</span>
      </div>
    </div>
        
    <div class="copyright-container">
            <span class="copyright">Copyright 2023, dhindumentaria.com. All rights reserved.</span>
    </div>
  </footer>

</body>
</html>