
<%- include('../partials/head.ejs', {cssSheet: 'register'}) %>

<%- include('../partials/header.ejs') %>

<section class="form-registro">
    <h4>Registrase, es gratis!</h4>
    <input class="controls" type="text" name="nombre" id="nombre" placeholder="Nombre">
    <input class="controls" type="text" name="apellido" id="apellido" placeholder="Apellido">
    <input class="controls" type="email" name="Direccion de email" id="Direccion de email" placeholder="Direccion de email">
    <input class="controls" type="password" name="Cear contraseña" id="Crear contraseña" placeholder="Crear contraseña">
    <br>
    <br>
    <input class="boton" type="submit" value="Registrarse">
    

</section>

  <%- include('../partials/footer.ejs') %>

</body>
</html>